# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/linux-64/_libgcc_mutex-0.1-conda_forge.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/arrow-cpp-proc-3.0.0-cuda.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ca-certificates-2021.10.8-ha878542_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/faiss-proc-1.0.0-cuda.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-dejavu-sans-mono-2.37-hab24e00_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-inconsolata-3.000-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-source-code-pro-2.038-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-ubuntu-0.83-hab24e00_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libstdcxx-ng-11.1.0-h56837e0_8.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pandoc-2.14.2-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/poppler-data-0.4.11-hd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tzdata-2021a-he74cb21_1.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/ucx-proc-1.0.0-gpu.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-forge-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ld_impl_linux-64-2.36.1-hea4e1c9_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgomp-11.1.0-hc902ee8_8.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/_openmp_mutex-4.5-1_gnu.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-ecosystem-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcc-ng-11.1.0-hc902ee8_8.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/abseil-cpp-20210324.2-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/aws-c-common-0.6.2-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/blosc-1.21.0-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/bzip2-1.0.8-h7f98852_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/c-ares-1.17.2-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/charls-2.2.0-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/cudatoolkit-11.0.221-h6bb024c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/dlpack-0.5-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/expat-2.4.1-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/freexl-1.0.6-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/geos-3.9.1-h9c3ff4c_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gflags-2.2.2-he1b5a44_1004.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/giflib-5.2.1-h36c2ea0_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/icu-68.1-h58526e2_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jbig-2.1-h7f98852_2003.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jpeg-9d-h36c2ea0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/json-c-0.15-h98cffda_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jxrlib-1.1-h7f98852_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lerc-2.2.1-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libaec-1.0.5-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libbrotlicommon-1.0.9-h7f98852_5.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libdeflate-1.8-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libev-4.33-h516909a_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libffi-3.3-h58526e2_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libiconv-1.16-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libntlm-1.4-h7f98852_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libsodium-1.0.18-h36c2ea0_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libspatialindex-1.9.3-h9c3ff4c_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libutf8proc-2.6.1-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libuuid-2.32.1-h7f98852_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libuv-1.42.0-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libzopfli-1.0.3-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lz4-c-1.9.3-h9c3ff4c_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ncurses-6.2-h58526e2_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.1.1l-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pcre-8.45-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pixman-0.40.0-h36c2ea0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pthread-stubs-0.4-h36c2ea0_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/re2-2021.09.01-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/snappy-1.1.8-he1b5a44_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/spdlog-1.8.5-h4bd325d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tzcode-2021a-h7f98852_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-kbproto-1.0.7-h7f98852_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libice-1.0.10-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxau-1.0.9-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxdmcp-1.1.3-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-renderproto-0.11.1-h7f98852_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-xextproto-7.3.0-h7f98852_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-xproto-7.0.31-h7f98852_1007.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xz-5.2.5-h516909a_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/yaml-0.2.5-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zfp-0.5.5-h9c3ff4c_6.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zlib-1.2.11-h516909a_1010.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/aws-c-cal-0.5.11-h95a6274_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/aws-checksums-0.1.11-ha31a3da_7.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gettext-0.19.8.1-h0b5b191_1005.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/glog-0.5.0-h48cff8f_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/hdf4-4.2.15-h10796ff_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libbrotlidec-1.0.9-h7f98852_5.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libbrotlienc-1.0.9-h7f98852_5.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libedit-3.1.20191231-he28a2e2_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libevent-2.1.10-hcdb4288_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libllvm10-10.0.1-he513fc3_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libnghttp2-1.43.0-h812cca2_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libpng-1.6.37-h21135ba_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libprotobuf-3.16.0-h780b84a_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/librmm-21.08.01-cuda11.0_g66cf439_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/librttopo-1.1.0-h1185371_6.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libssh2-1.10.0-ha56f1ee_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxcb-1.13-h7f98852_1003.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxml2-2.9.12-h72842e0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libzip-1.8.0-h4de3113_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/nccl-2.10.3.1-h96e36e3_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/nodejs-14.17.4-h92b4a50_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/readline-8.1-h46c0cb4_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/s2n-1.0.10-h9b69904_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tk-8.6.11-h27826a3_1.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/ucx-1.9.0+gcd9efd3-cuda11.0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xerces-c-3.2.3-h9d8b166_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libsm-1.2.3-hd9c2040_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zeromq-4.3.4-h9c3ff4c_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zstd-1.5.0-ha95c52a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/aws-c-io-0.10.5-hfb6a706_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/boost-cpp-1.74.0-h312852a_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/brotli-bin-1.0.9-h7f98852_5.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/freetype-2.10.4-h0708190_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/grpc-cpp-1.40.0-h850795e_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/krb5-1.19.2-hcc1bbae_0.tar.bz2
https://conda.anaconda.org/nvidia/linux-64/libcumlprims-21.08.00-cuda11.0_g9c188ef_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libglib-2.68.4-h3e27bee_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgpg-error-1.42-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libhwloc-2.3.0-h5e5b7d1_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libthrift-0.14.2-he6d91bd_1.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/libxgboost-1.4.2dev.rapidsai21.08-cuda11.0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/orc-1.6.10-h58a87f1_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sqlite-3.36.0-h9cd32fc_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tiledb-2.3.4-he87e0bf_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libx11-1.7.2-h7f98852_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/aws-c-event-stream-0.2.7-h3541f99_13.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/brotli-1.0.9-h7f98852_5.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cyrus-sasl-2.1.27-h230043b_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/fontconfig-2.13.1-hba837de_1005.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcurl-7.78.0-h2574ce0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgcrypt-1.9.3-h7f98852_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libkml-1.3.0-h238a007_1014.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libpq-13.3-hd57d9b9_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/python-3.8.11-h12debd9_0_cpython.conda
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxext-1.3.4-h7f98852_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxrender-0.9.10-h7f98852_1003.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/appdirs-1.4.4-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/async-timeout-3.0.1-py_1000.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/async_generator-1.10-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/attrs-21.2.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/aws-sdk-cpp-1.8.186-hb4091e7_3.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backcall-0.2.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backports-1.0-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/brunsli-0.1-h9c3ff4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cachetools-4.2.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cairo-1.16.0-h6cf1ce9_1008.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/click-7.1.2-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cloudpickle-1.6.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/colorama-0.4.4-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/curl-7.78.0-hea6ffbf_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/cython-0.29.24-py38h295c915_0.conda
https://conda.anaconda.org/conda-forge/noarch/decorator-4.4.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/defusedxml-0.7.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/entrypoints-0.3-pyhd8ed1ab_1003.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/fsspec-2021.8.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/heapdict-1.0.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/idna-2.10-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipython_genutils-0.2.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyterlab_widgets-1.0.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgsasl-1.10.0-h5b4c23d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/locket-0.2.0-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nest-asyncio-1.5.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/olefile-0.46-pyh9f0ad1d_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pandocfilters-1.4.2-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/param-1.11.1-pyh6c4a22f_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/parso-0.8.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pickleshare-0.7.5-py_1003.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/postgresql-13.3-h2510834_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/prometheus_client-0.11.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ptyprocess-0.7.0-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.20-pyh9f0ad1d_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pynvml-11.0.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyparsing-2.4.7-pyh9f0ad1d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pyshp-2.1.3-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/linux-64/python_abi-3.8-2_cp38.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pytz-2021.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/send2trash-1.8.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/simpervisor-0.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/six-1.16.0-pyh6c4a22f_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/sortedcontainers-2.4.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tblib-1.7.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/testpath-0.5.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/threadpoolctl-2.2.0-pyh8a188c0_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/toolz-0.11.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/traitlets-5.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/typing_extensions-3.10.0.0-pyha770c72_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/webencodings-0.5.1-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/wheel-0.37.0-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/zipp-3.5.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/certifi-2021.10.8-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cffi-1.14.6-py38ha65f79e_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/chardet-4.0.0-py38h578d9bd_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/click-plugins-1.1.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cligj-0.7.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cycler-0.10.0-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cytoolz-0.11.0-py38h497a2fe_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/debugpy-1.4.1-py38h709712a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/fastavro-1.4.4-py38h497a2fe_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/fastrlock-0.6-py38h709712a_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/importlib-metadata-4.8.1-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jedi-0.18.0-py38h578d9bd_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jupyter_core-4.7.1-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/kiwisolver-1.3.2-py38h1fd1430_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libdap4-3.20.6-hd7c4107_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/librdkafka-1.6.1-hc49e61c_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/llvmlite-0.36.0-py38h4630a5e_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/markupsafe-2.0.1-py38h497a2fe_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/matplotlib-inline-0.1.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mistune-0.8.4-py38h497a2fe_1004.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/msgpack-python-1.0.2-py38h1fd1430_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/multidict-5.1.0-py38h497a2fe_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/multipledispatch-0.6.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/nvtx-0.2.3-py38h497a2fe_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/packaging-21.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/partd-1.2.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pexpect-4.8.0-pyh9f0ad1d_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/psutil-5.8.0-py38h497a2fe_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyrsistent-0.17.3-py38h497a2fe_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pysocks-1.7.1-py38h578d9bd_3.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.8.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyviz_comms-2.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyyaml-5.4.1-py38h497a2fe_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyzmq-22.2.1-py38h2035c66_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/rtree-0.9.7-py38h02d302b_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sniffio-1.2.0-py38h578d9bd_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tornado-6.1-py38h497a2fe_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.62.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/typing-extensions-3.10.0.0-hd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/websocket-client-0.57.0-py38h578d9bd_4.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/zict-2.0.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/anyio-3.3.0-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/argon2-cffi-20.1.0-py38h497a2fe_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/brotlipy-0.7.0-py38h497a2fe_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cryptography-3.4.7-py38ha5dfef3_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/dask-core-2021.7.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jinja2-3.0.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter_client-7.0.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/markdown-3.3.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/python-confluent-kafka-1.6.0-py38h497a2fe_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/setuptools-49.6.0-py38h578d9bd_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/terminado-0.12.1-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/yarl-1.6.3-py38h497a2fe_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/aiohttp-3.7.4.post0-py38h497a2fe_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backports.functools_lru_cache-1.6.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/bleach-4.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/conda-pack-0.6.0-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/distributed-2021.7.1-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/joblib-1.0.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jsonschema-3.2.0-pyhd8ed1ab_3.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/munch-2.5.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pip-21.2.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/protobuf-3.16.0-py38h709712a_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pygments-2.10.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyopenssl-20.0.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/streamz-0.6.2-pyh44b312d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyterlab_pygments-0.1.2-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nbformat-5.1.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/urllib3-1.26.6-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/wcwidth-0.2.5-pyh9f0ad1d_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nbclient-0.5.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/prompt-toolkit-3.0.20-pyha770c72_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/requests-2.25.1-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipython-7.27.0-py38he5a9106_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/nbconvert-6.1.0-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pooch-1.5.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/requests-unixsocket-0.2.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipykernel-6.3.1-py38he5a9106_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter_server-1.10.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter-server-proxy-3.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/notebook-6.4.3-pyha770c72_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/widgetsnbextension-3.5.1-py38h578d9bd_4.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipywidgets-7.6.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/arrow-cpp-4.0.1-py38h7a609a8_10_cuda.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/libcudf-21.08.02-cuda11.0_gf6d31fa95d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/parquet-cpp-1.5.1-2.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/libcudf_kafka-21.08.02-gf6d31fa95d_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/libcuspatial-21.08.01-cuda11.0_g7c0151b_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/boost-1.74.0-py38hc10631b_3.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/colorcet-2.0.6-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/cudf_kafka-21.08.02-py38_gf6d31fa95d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/datashape-0.5.4-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/kealib-1.4.14-h87e4c3c_3.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lcms2-2.12-hddcbb42_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/libcucim-21.08.01-cuda11.0_ga89f250_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/libcugraph-21.08.03-cuda11.0_g9e9f1570_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgfortran-ng-11.1.0-h69a702a_8.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgfortran5-11.1.0-h6c583b3_8.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cfitsio-3.470-hb418390_7.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/hdf5-1.12.1-nompi_h2750804_100.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libopenblas-0.3.17-pthreads_h8fe5266_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libnetcdf-4.8.1-nompi_hb3fd0d9_101.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libspatialite-5.0.1-h5cf074c_8.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libtiff-4.3.0-hf544144_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openjpeg-2.4.0-hb52868f_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/proj-8.1.0-h277dcde_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/geotiff-1.6.0-h08e826d_7.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/poppler-21.09.0-h0e1ea10_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyproj-3.1.0-py38h3701b11_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libgdal-3.2.2-h57ec04e_11.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gdal-3.2.2-py38h81a01a0_11.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libwebp-1.2.1-h3452ae3_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libwebp-base-1.2.1-h7f98852_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pillow-8.3.1-py38h5aabda8_0.conda
https://conda.anaconda.org/conda-forge/linux-64/bokeh-2.3.3-py38h578d9bd_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/imagecodecs-2021.7.30-py38hb5ce8f7_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/imageio-2.9.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/matplotlib-base-3.4.3-py38hf4fb855_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pandas-1.2.5-py38h1abd341_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/dask-2021.7.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/custreamz-21.08.02-py38_gf6d31fa95d_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/dask-cudf-21.08.02-py38_gf6d31fa95d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/geopandas-base-0.9.0-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/panel-0.12.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyarrow-4.0.1-py38hdd2221d_10_cuda.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyct-0.4.6-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyct-core-0.4.6-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pydeck-0.5.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pywavelets-1.1.1-py38h6c62de6_3.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/rapids-xgboost-21.08.00-cuda11.0_py38_ga776927_74.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/shapely-1.7.1-py38hb7fe4a8_5.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/fiona-1.8.20-py38hdb5a769_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/geopandas-0.9.0-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/tifffile-2021.8.30-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/ucx-py-0.21.0-py38_gcd9efd3_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/xarray-0.19.0-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/xgboost-1.4.2dev.rapidsai21.08-cuda11.0py38_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cartopy-0.20.0-py38hf5cf5bb_1.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/cugraph-21.08.03-cuda11.0_py38_g9e9f1570_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cupy-9.5.0-py38h9612f98_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/cuspatial-21.08.01-py38_g7c0151b_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/dask-cuda-21.08.00-py38_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libblas-3.9.0-11_linux64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcblas-3.9.0-11_linux64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/liblapack-3.9.0-11_linux64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libfaiss-1.7.0-cuda110h8045045_8_cuda.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numpy-1.21.2-py38he2449b9_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/scipy-1.7.1-py38h56a6a73_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/networkx-2.6.2-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numba-0.53.1-py38h8b71fd7_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/scikit-learn-0.24.2-py38hacb3eff_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/treelite-2.0.0-py38hc9ad5e7_0.tar.bz2
https://conda.anaconda.org/rapidsai/noarch/cusignal-21.08.00-py37_g33f663e_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/datashader-0.11.1-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/mapclassify-2.4.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/rmm-21.08.01-cuda_11.0_py38_g66cf439_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/scikit-image-0.18.1-py38ha9443f7_0.conda
https://conda.anaconda.org/rapidsai/linux-64/cucim-21.08.01-cuda_11.0_py38_ga89f250_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/cudf-21.08.02-cuda_11.0_py38_gf6d31fa95d_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/py-xgboost-1.4.2dev.rapidsai21.08-cuda11.0py38_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/cuxfilter-21.08.00-py38_g274c584_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/libcuml-21.08.01-cuda11.0_g5c0e99300_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/cuml-21.08.01-cuda11.0_py38_g5c0e99300_0.tar.bz2
https://conda.anaconda.org/rapidsai/linux-64/rapids-21.08.00-cuda11.0_py38_ga776927_74.tar.bz2
